.edit {
	display: none;
}

.editing .edit {
	display: block;
}

.view {
	display: block;
}

.editing .view {
	display: none;
}

a.button-control {
	margin: 0 0.5em;
	padding: 0 0.5em;
	color: gray;
	background-color: yellow;
}

.album-videos .video {
	padding-top: 1em;
}
